body {
    padding: 0 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

pre {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    background: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

em {
    border-bottom: 2px solid maroon;
}

input {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
}

.ringRed {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

    .ringRed:hover {
        -webkit-transform: rotate(90deg) scale(5);
        -moz-transform: rotate(90deg) scale(5);
        -o-transform: rotate(90deg) scale(5);
        -ms-transform: rotate(90deg) scale(5);
        transform: rotate(90deg) scale(5);
    }
